<article class="message">
  <div class="message-body">
    <p class="is-size-7">Preview</p>
    <h5 class="title is-5 has-text-centered">Message from (123) 456-7890</h5>

    {{#if displayPreview}}
      <div class="notification is-success has-text-left">
        {{{render-preview preview}}}
      </div>

      <p class="is-size-7 has-text-right">
        {{preview.length}}/{{subscription.characterLimit}} characters
      </p>
    {{else}}
      No preview
    {{/if}}
  </div>
</article>
