@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "bulma/bulma";
@import "_checkbox";

#flash-messages {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.notification {
  margin: 1em;
}
