<div class="content">
  <div class="columns">
    <div class="column">
      <h2>
        Add a new gym
      </h2>

      <p>
      Use this to add a new WOD source to our database. We only support RSS feeds at this time.
      </p>

      <p>
        If you'd like to add a gym that doesn't have an RSS feed, please let us know!
        Send an email to <a href="mailto:contact@wodalert.com">contact@wodalert.com</a> with the name and website for your gym.
      </p>
    </div>

    <div class="column has-text-centered">
      <div class="field">
        <div class="control">
          {{input
          value=model.url
          class="input"
          placeholder="RSS Feed URL"}}
        </div>
      </div>

      <div class="field">
        {{#if isAuthenticated}}
          <button class="button is-primary" {{action "submit"}}>
            Publish
          </button>
        {{else}}
          {{auth-status}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
