<div class="columns">
  <div class="column">
    <h3 class="subtitle">Get texts when your gym posts a new workout</h3>
  </div>
</div>

<div class="columns">
  <div class="column">
    {{feed-search subscription=model}}

    {{#if model.feed}}
      {{subscription-options subscription=model}}
    {{/if}}
  </div>

  {{#if model.feed}}
    <div class="column">
      {{sms-preview subscription=model}}
    </div>
  {{/if}}
</div>
