<div class="columns">
  <div class="column">
    <h3 class="subtitle">Get texts when your gym posts a new workout</h3>
  </div>
</div>

<div class="columns">
  <div class="column">
    {{feed-search}}
  </div>

  <div class="column">
    {{sms-preview}}
  </div>
</div>

{{outlet}}
