<div class="columns">
  <div class="column">
    <h3 class="subtitle">
      Thanks!
    </h3>

    <p>
      You've signed up to receive alerts from <strong>{{model.feed.name}}</strong>.
    </p>

    <p>
      Reply <strong>STOP</strong> at any time to cancel your subscription.
    </p>
  </div>
</div>
