<section class="section has-text-centered-mobile">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">{{app-title}}</h1>

        <h3>Auth Test</h3>

        {{auth-status}}
      </div>
    </div>
  </div>
</section>
